<main class="pageRegisterFeeder d-flex justify-content-center align-items-center flex-wrap">
  <div class="container text-center d-flex justify-content-center align-items-center position-relative flex-column">
    <button (click)="goDashboard()" class="pageRegisterFeeder--backButton position-absolute  btn btn-danger float-start d-flex">IR AL DASHBOARD</button>
    <h1 class="pageRegisterFeeder__title mt-4">REGISTRO DE ALIMENTADOR</h1>
    <p class="pageRegisterFeeder__description">Registre su alimentador con las características principales para que podamos configurar las mejores opciones para sus mascotas.</p>
    <!-- <app-text [fontSize]="'24px'"  [color]="'white'">Welcome to HeymusicApp</app-text> -->
    <form class="pageRegisterFeeder__form mt-3 mb-4">

      <div class="pageRegisterFeeder__form--input">
        <app-input titleInput="Identificador" placeholder="Ingresen identificación del alimentador"></app-input>
      </div>

      <div class="pageRegisterFeeder__form--input">
        <app-input titleInput="Tipo de alimento" placeholder="Ingrese el tipo de alimento"></app-input>
      </div>

      <div class="pageRegisterFeeder__form--input">
        <app-input titleInput="Capacidad" placeholder="Capacidad del alimentador"></app-input>
      </div>

      <div class="pageRegisterFeeder__form--input">
        <app-input titleInput="Modelo" placeholder="Ingrese el modelo del alimentador"></app-input>
      </div>

      <div class="pageRegisterFeeder__notificaciones d-block mt-2 mb-3 form-check form-switch">
        <label class="pageRegisterFeeder__notificaciones--label form-check-label" for="flexSwitchCheckChecked">¿Desea utilizar el dispensador de agua?</label>
        <input class="pageRegisterFeeder__notificaciones--input form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
      </div>

      <!--<app-input placeholder="Ingrese su clave"></app-input>-->
      <button  (click)="welcome()"  class="pageRegisterFeeder__btnRegisterUser"><p class="pageRegisterFeeder__btnRegisterUser--text">ENVIAR</p></button>

    </form>
  </div>
</main>
