.homePage{
  &__title{
    font-weight: bold;
    color: #452646;
    font-size: 40px;
    cursor: default;
  }
  &__cardAlimentador{
    background: #E3EAF8;
    margin-bottom: 1rem;
    border: 1px solid #000000;
    border-radius: 12px;
    cursor: pointer;
    &--leftImage{
      width: 40px;
      height: 40px;
      display: flex;
      margin: 20px;
      margin-right: 0;
      align-self: center;
    }
    &--rightImage{
      width: 70px;
      margin: 5px;
    }
    &--title{
      font-size: 16px;
      color: #1C1B1F;
      font-weight: 500;
    }
    &--subtitle{
      font-size: 14px;
      color: #1C1B1F;
      font-weight: 400;
    }
  }
}
