<main class="pageInitial d-flex justify-content-center align-items-center flex-wrap">
  <div class="container text-center d-flex justify-content-center align-items-center flex-column">
    <h1 class="pageInitial__title my-3">SMART FEED</h1>
    <img alt="heymusicapp logo" class="pb-1" width="30%" src="assets/logo_without_title.png">
    <!-- <app-text [fontSize]="'24px'"  [color]="'white'">Initial to HeymusicApp</app-text> -->
    <div class="py-2">
      <button (click)="login()" class="pageInitial__btnLogin"><p class="pageInitial__btnLogin--text">ENTRAR</p></button>
    </div>
  </div>
</main>
