<div class="aside-fixed aside-dark aside-hoverable navbar">
  <img (click)="actionMenu()" class="button_menu" src="/assets/button_dashboard_white.png"/>
  <div class="d-flex flex-column flex-shrink-0 p-3 text-white mb-5" style="width: 280px;">
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item my-2 fw-semibold" *ngFor="let item of linksMenu">
        <a *ngIf="item.show" href="{{ item.router }}" class="nav-link {{item.className}}" aria-current="page">
          <i class="{{ item.icon }}"></i>
          <svg class="" width="10" height="26">
          </svg>
          {{ item.name }}
        </a>
      </li>
    </ul>
  </div>
</div>
