.aside-fixed{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 101;
  overflow: hidden;
}
.aside-dark {
  background-color: #452646;
}
.button_menu{
  position: absolute;
  top: 3%;
  right: 10%;
  width: 40PX;
  height: 50px;
  cursor: pointer;
}

.text-custom-danger{
  color: #FC5F60;
}
/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 768px) {
  .navbar{
    left: 0;
  }
}

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 992px) {

}
/* Large devices (desktops, less than 1200px)*/
@media (max-width: 1200px) {

}
