.backButton{
  top: 6%;
  left: 10%;
  background: #FC5F60;
  border: 1px solid #000000;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  font-weight: 700;
  font-size: 16px;
  z-index: 9999;
}
.homePage{
  &__title{
    font-weight: bold;
    color: #452646;
    font-size: 24px;
    cursor: default;
  }
  &__btnDanger{
    background: #FC5F60;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 700;
    font-size: 16px;
  }
  &__btnAction{
    background: #FDCE71;
    border: 1px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    color: #452646;
    font-weight: 700;
  }
  &__cardAlimentador{
    background: #E3EAF8;
    border: 1px solid #000000;
    border-radius: 12px;
    &--card{
      margin-bottom: 1rem;
      background: none;
      border: none;
    }
    &--leftImage{
      width: 40px;
      height: 40px;
      display: flex;
      margin: 20px;
      margin-right: 0;
      align-self: center;
    }
    &--rightImage{
      width: 70px;
      margin: 5px;
    }
    &--title{
      font-size: 16px;
      color: #1C1B1F;
      font-weight: 500;
    }
    &--title2{
      font-size: 32px;
      color: #1C1B1F;
      font-weight: 400;
    }
    &--subtitle{
      font-size: 16px;
      color: #1C1B1F;
      font-weight: 400;
    }
    &--subtitle2{
      font-size: 24px;
      color: #1C1B1F;
      font-weight: 400;
    }
    &--description{
      font-weight: 400;
      font-size: 16px;
      color: #1C1B1F;
      line-height: 20px;
    }
  }
}
