

<header class="header d-flex align-items-center">

  <img alt="heymusicapp logo" class="header__logo" src="/assets/logo-heymusicapp.png">

  <div class="header__animated__container">
    <div class="header__animated__item">
      <p class="header__bienvenidoText">¡{{tipoSaludo}}, {{firstName}}!</p>
    </div>
    <div class="header__menuMobile">
      <a routerLink="/" class="header__menuMobile--text">Home</a>
      <a routerLink="/favorites" class="header__menuMobile--text">Favorites</a>
      <a routerLink="/recommendations" class="header__menuMobile--text">Recommendations</a>
    </div>
  </div>

  <div class="header__links d-flex align-items-center">

    <div class="dropdown">
      <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1"
        data-bs-toggle="dropdown" aria-expanded="false">
        <img src="https://avatars.githubusercontent.com/u/98790008?s=400&u=f0beb6d6e901fedb8acd7180b7f0ace46903865a&v=4"
          alt="" width="32" height="32" class="rounded-circle me-2">
        <strong>{{userFullName}}</strong>
      </a>
    </div>


  </div>
</header>
