<main class="pageWelcome d-flex justify-content-center align-items-center flex-wrap">
  <div class="container text-center d-flex justify-content-center align-items-center flex-column">
    <img alt="heymusicapp logo" class="pb-4" width="15%" src="assets/congrats.png">
    <h2 class="pageWelcome__subtitle">FELICITACIONES</h2>
    <p class="pageWelcome__description py-2 my-2">Tu mascota ha sido alimentada satisfactoriamente, y volverá a ser alimentada en 5 horas como lo definiste en el paso anterior.</p>
    <div class="py-2">
      <button (click)="avanzar()" class="pageWelcome__btnLogin"><p class="pageWelcome__btnLogin--text">AVANZAR</p></button>
    </div>
  </div>
</main>
