<main class="pageNewProducts d-flex justify-content-center align-items-center flex-wrap">
  <div class="container text-center d-flex justify-content-center align-items-center flex-column">
    <h1 class="pageNewProducts__title my-3">REGISTRO DE PRODUCTOS</h1>
    <div class="pageNewProducts__buttons">
      <div class="mt-5 py-5">
        <button (click)="pet()" class="pageNewProducts__btn"><p class="pageNewProducts__btn--text">MASCOTA</p></button>
      </div>
      <div class="py-5">
        <button (click)="alimentador()" class="pageNewProducts__btn"><p class="pageNewProducts__btn--text">ALIMENTADOR</p></button>
      </div>
    </div>
  </div>
</main>
