.carouselTracks{
  &__link{
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    font-weight: bold;
    margin-block: 2rem;
    @media (max-width: 768px) {
      display: block;
      font-size: 1.5rem;
      margin-bottom: 1rem;
    }
  }
}
