<main class="pageWelcome d-flex justify-content-center align-items-center flex-wrap">
  <div class="container text-center d-flex justify-content-center align-items-center flex-column">
    <h1 class="pageWelcome__title my-3">SMART FEED</h1>
    <img alt="heymusicapp logo" class="pb-1" width="30%" src="/assets/logo_without_title.png">
    <h2 class="pageWelcome__subtitle">BIENVENIDO!</h2>
    <p class="pageWelcome__description">Su registro se ha realizado satisfactoriamente.</p>
    <div class="py-2">
      <button (click)="login()" class="pageWelcome__btnLogin mb-4"><p class="pageWelcome__btnLogin--text">AVANZAR</p></button>
    </div>
  </div>
</main>
