<main class="pageRegisterUser d-flex justify-content-center align-items-center flex-wrap">
  <div class="container text-center d-flex justify-content-center align-items-center position-relative flex-column">
    <button (click)="login()" class="pageRegisterUser--backButton position-absolute  btn btn-danger float-start d-flex">REGRESAR</button>
    <h1 class="pageRegisterUser__title mt-4">REGISTRO DE USUARIO</h1>
    <p class="pageRegisterUser__description">Registrese para crear una cuenta y disfrutar de todos los servicios que le ofrece la aplicación Smart Feed.</p>

    <form class="pageRegisterUser__form mt-3">

      <div class="pageRegisterUser__form--input">
        <app-input titleInput="Nombres" placeholder="Ingrese sus nombres"></app-input>
      </div>

      <div class="pageRegisterUser__form--input">
        <app-input titleInput="Apellidos" placeholder="Ingrese sus apellidos"></app-input>
      </div>

      <div class="pageRegisterUser__form--input">
        <app-input titleInput="Direccion" placeholder="Lugar de residencia"></app-input>
      </div>

      <div class="pageRegisterUser__form--input">
        <app-input titleInput="Telefono" placeholder="Número de contacto principal"></app-input>
      </div>

      <div class="pageRegisterUser__form--input">
        <app-input titleInput="Correo" placeholder="Correo Principal"></app-input>
      </div>

      <div class="pageRegisterUser__form--input">
        <app-input titleInput="Fecha de Nacimiento" placeholder="08/06/1995"></app-input>
        <span class="small-date d-block w-100 text-start ml-2 mt-1">DD/MM/YYYY</span>
      </div>


      <div class="pageRegisterUser__notificaciones d-block mt-2 mb-3 form-check form-switch">
        <label class="pageRegisterUser__notificaciones--label form-check-label" for="flexSwitchCheckChecked">¿Desea recibir notificaciones?</label>
        <input class="pageRegisterUser__notificaciones--input form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
      </div>


      <div class="pageRegisterUser__tipoNoti text-start mb-4">
        <label class="pageRegisterUser__tipoNoti--title d-block mb-3">Tipo de notificación:</label>
        <div class="form-check">
          <input class="pageRegisterUser__tipoNoti--optionInput form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
          <label class="pageRegisterUser__tipoNoti--optionLabel form-check-label" for="flexRadioDefault1">
            SMS
          </label>
        </div>
        <div class="form-check">
          <input class="pageRegisterUser__tipoNoti--optionInput form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
          <label class="pageRegisterUser__tipoNoti--optionLabel form-check-label" for="flexRadioDefault2">
            Correo electrónico
          </label>
        </div>
        <div class="form-check">
          <input class="pageRegisterUser__tipoNoti--optionInput form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
          <label class="pageRegisterUser__tipoNoti--optionLabel form-check-label" for="flexRadioDefault2">
            Notificaciones push
          </label>
        </div>
      </div>


      <div class="pageRegisterUser__terminos form-check mb-4  text-start">
        <input class="pageRegisterUser__terminos--optionInput form-check-input" type="checkbox" value="" id="flexCheckDefault">
        <label class="pageRegisterUser__terminos--optionLabel form-check-label" for="flexCheckDefault">
          Acepto los términos y condiciones
        </label>
      </div>

      <!--<app-input placeholder="Ingrese su clave"></app-input>-->
      <button  (click)="welcome()"  class="pageRegisterUser__btnRegisterUser mb-4"><p class="pageRegisterUser__btnRegisterUser--text">ENVIAR</p></button>


    </form>
  </div>
</main>
