.main-panel {
  background: rgba(203,203,210,.15);
  position: relative;
  z-index: 2;
  float: right;
  width: calc(100% - 280px);
  min-height: 100%;
  overflow: auto;
  max-height: 100%;
  height: 100%;
}

.button_menu{
  position: absolute;
  top: 4%;
  left: 4%;
  width: 40PX;
  height: 50px;
  cursor: pointer;
  z-index: 10000;
}

.main-panel.not-padding{
  width: 100% !important;
}
.main-panel .main-content {
  padding: 40px 15px;
}
