<!-- <main [ngClass]="'layout'">
  <div [ngClass]="'layout_header-container'">
    <app-header></app-header>

  </div>
  <div [ngClass]="'layout__content'" >
    <ng-content></ng-content>
  </div>
</main> -->


<div class="wrapper">
  <nav id="pass-nav" class="sidebar" aria-label="nav-header">
    <app-side-bar></app-side-bar>
  </nav>
  <div class="main-panel">
   <app-header></app-header>
   <div class="main-content">
    <div class="body">
      <div class="container my-4">
        <ng-content></ng-content>
      </div>
    </div>
   </div>
  </div>
</div>
