<div class="wrapper">
  <nav *ngIf="showSideBar" id="pass-nav" class="sidebar" aria-label="nav-header">
    <app-side-bar (toggleSideBar)="procesaToggle($event)" [showSideBar]="showSideBar" ></app-side-bar>
  </nav>
  <img *ngIf="!showSideBar" (click)="actionMenu()" class="button_menu" src="/assets/button_dashboard.png"/>
  <div class="main-panel {{showSideBar ? '': 'not-padding'}}">
   <div class="main-content">
    <div class="body">
      <div class="container my-4">
        <ng-content></ng-content>
      </div>
    </div>
   </div>
  </div>
</div>
